<div class="card card-profile" style="margin-top: 50%;">
    <div class="card-body pt-0 pt-md-4">
        <div class="text-center" style="padding-top: 10px;">
            <i class="ni ni-check-bold"
                style="background-color: green; color: white; font-size: 40px; border-radius: 100px;"></i>
            <br>
            <br>
            <div class="h4 font-weight-500" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Your image has been successfully sent
            </div>
            <hr class="my-4" />
            <h3>
                NH1 Highway Construction
            </h3>
            <div class="h5 font-weight-300">
                <i class="ni ni-pin-3 mr-2"></i>Chandigarh, Punjab (30.733315, 76.779419)
            </div>
            <div class="h5 font-weight-300">
                <i class="ni ni-watch-time mr-2"></i>10:00 AM, 2 November 2019
            </div>
            <hr class="my-4" />
            <a href="/"><button type="button" class="btn btn-outline-primary" style="border-radius: 100px;">Back to home
                    page</button></a>
        </div>
    </div>