<nav class="navbar" style="background-color: white;">
    <a class="navbar-brand" href="/">
        <i class="ni ni-bold-left"></i>
    </a>
</nav>

<div class="card card-profile">
    <div class="card-body pt-0 pt-md-4">
        <div class="text-center" style="padding-top: 10px;">
            <h3>
                NH1 Highway Construction
            </h3>
            <div class="h5 font-weight-300">
                <i class="ni ni-pin-3 mr-2"></i>Chandigarh, Punjab (30.733315, 76.779419)
            </div>
            <div class="h5 font-weight-300">
                <i class="ni ni-watch-time mr-2"></i>10:00 AM, 2 November 2019
            </div>
            <hr class="my-4" />
            <img src="assets/images/first.jpg" style="width: 100%; height: auto;">
            <br>
            <br>
            Do you see think road is under construction or under maintenance?
            <br>
            <br>
            <a href="/review-success" class="btn btn-outline-success" role="button" aria-pressed="true">Yes</a>
            <a href="/review-success" class="btn btn-outline-danger" role="button" aria-pressed="true">No</a>
        </div>

    </div>