<div class="card card-profile shadow">
    <div class="row justify-content-center" style="margin-top: 40px;">
        <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
                <a href="javascript:void(0)">
                    <img src="assets/img/theme/team-4-800x800.jpg" style="transform: translate(-50%,0%); "
                        class="rounded-circle">
                </a>
            </div>
        </div>
    </div>
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
    </div>

    <div class="progress-wrapper" style="margin-top: 70px; margin-left: 30%; margin-right: 30%;">
        <div class="progress-info">
            <div class="progress-label">
                <span>Rookie</span>
            </div>
            <div class="progress-percentage">
                <span>1872</span>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100" style="width: 60%;"></div>
        </div>
    </div>

    <div class="container" style="text-align: center;margin-top: 20px; margin-bottom: 10px;">
        <span style="font-family: 'Lilita One', cursive; font-size: 25px;" class="timer"  data-to="1273" data-speed="1500">1273 </span> 
        <span style="padding-left: 5px;"><i class="ni ni-credit-card" style="font-size: 20px; color: rgb(46, 231, 40);"></i></span>
    </div>
    <div class="card-body pt-0 pt-md-4">
        <div class="row">
            <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                        <span class="heading timer" data-to="22" data-speed="150">22</span>
                        <span class="description">Total Submissions</span>
                    </div>
                    <div>
                        <span class="heading timer" data-to="10" data-speed="150">10</span>
                        <span class="description">Verified Submissions</span>
                    </div>
                    <div>
                        <span class="heading timer" data-to="89" data-speed="150">89</span>
                        <span class="description">Reviewed Submissions</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h3>
                Jessica Jones
            </h3>
            <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <hr class="my-4" />
            <button type="button" class="btn btn-primary btn-lg"
                style="width: 100%; border-radius: 100px;" data-toggle="collapse" data-target="#leaderboardContent"
                aria-expanded="false" aria-controls="leaderboardContent">Leaderboard</button>
            <br>
            <br>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">City</button>
                <button type="button" class="btn btn-secondary">State</button>
                <button type="button" class="btn btn-secondary">Country</button>
            </div>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Experience</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="assets/img/theme/bootstrap.jpg">
                          </a>
                          <div class="media-body">
                            <span class="mb-0 text-sm">Nishant Mittal</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        Pro
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
